In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

spark

25/10/15 04:49:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 1. Create namespace

In [2]:
%%sql
SHOW CATALOGS;

+---------------+
|       catalog |
+---------------+
|          demo |
| spark_catalog |
+---------------+

In [3]:
%%sql
SHOW DATABASES;

+-----------+
| namespace |
+-----------+
|        db |
+-----------+

In [4]:
%%sql
CREATE NAMESPACE IF NOT EXISTS demo.db;

++
||
++
++

## 2. Read dataset

In [5]:
## checking the dataset presence
!ls dataset

insurance.csv

In [6]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv("./dataset/insurance.csv")
df.show(5)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|  33.0|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
+---+------+------+--------+------+---------+-----------+
only showing top 5 rows

In [7]:
df.createOrReplaceTempView("insurance_csv")

In [8]:
%%sql
SELECT * FROM insurance_csv
WHERE
  bmi = 39.82;

+-----+--------+-------+----------+--------+-----------+------------+
| age |    sex |   bmi | children | smoker |    region |    charges |
+-----+--------+-------+----------+--------+-----------+------------+
|  56 | female | 39.82 |        0 |     no | southeast | 11090.7178 |
|  33 | female | 39.82 |        1 |     no | southeast |  4795.6568 |
|  18 | female | 39.82 |        0 |     no | southeast |  1633.9618 |
+-----+--------+-------+----------+--------+-----------+------------+

## 3. Partition

In [9]:
%%sql
CREATE
OR REPLACE TABLE demo.db.insurance USING iceberg PARTITIONED BY (region) AS
SELECT * FROM
  insurance_csv;

++
||
++
++

In [10]:
%%sql
SELECT * FROM demo.db.insurance LIMIT 5;

+-----+--------+--------+----------+--------+-----------+-------------+
| age |    sex |    bmi | children | smoker |    region |     charges |
+-----+--------+--------+----------+--------+-----------+-------------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |
+-----+--------+--------+----------+--------+-----------+-------------+

## 3.1 Show partitions in the table

### Show the table definition

In [11]:
%%sql
DESCRIBE EXTENDED demo.db.insurance;

+------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                                                                        data_type | comment |
+------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+
|                          age |                                                                                                                                                              int |    None |
|                          sex |                                                                                                                                                           string |    None |
|                          bmi |                                                                                                                                                           double |    None |
|                     children |                                                                                                                                                              int |    None |
|                       smoker |                                                                                                                                                           string |    None |
|                       region |                                                                                                                                                           string |    None |
|                      charges |                                                                                                                                                           double |    None |
|      # Partition Information |                                                                                                                                                                  |         |
|                   # col_name |                                                                                                                                                        data_type | comment |
|                       region |                                                                                                                                                           string |    None |
|                              |                                                                                                                                                                  |         |
|           # Metadata Columns |                                                                                                                                                                  |         |
|                     _spec_id |                                                                                                                                                              int |         |
|                   _partition |                                                                                                                                            struct<region:string> |         |
|                        _file |                                                                                                                                                           string |         |
|                         _pos |                                                                                                                                                           bigint |         |
|                     _deleted |                                                                                                                                                          boolean |         |
|                              |                                                                                                                                                                  |         |
| # Detailed Table Information |                                                                                                                                                                  |         |
|                         Name |                                                                                                                                                demo.db.insurance |         |
|                         Type |                                                                                                                                                          MANAGED |         |
|                     Location |                                                                                                                                      s3://warehouse/db/insurance |         |
|                     Provider |                                                                                                                                                          iceberg |         |
|                        Owner |                                                                                                                                                             root |         |
|             Table Properties | [created-at=2025-10-15T04:11:20.531958178Z,current-snapshot-id=6303910031349085422,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd] |         |
+------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------+

### Iceberg metadata tables

In [12]:
%%sql
SELECT * FROM demo.db.insurance.partitions;

+-------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+---------------------+--------------------------+
|               partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |     last_updated_at | last_updated_snapshot_id |
+-------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+---------------------+--------------------------+
| Row(region='northwest') |       1 |          325 |          1 |                          6366 |                            0 |                          0 |                            0 |                          0 | 2025-10-15 04:49:50 |      6303910031349085422 |
| Row(region='southwest') |       1 |          325 |          1 |                          5744 |                            0 |                          0 |                            0 |                          0 | 2025-10-15 04:49:50 |      6303910031349085422 |
| Row(region='southeast') |       1 |          364 |          1 |                          6687 |                            0 |                          0 |                            0 |                          0 | 2025-10-15 04:49:50 |      6303910031349085422 |
| Row(region='northeast') |       1 |          324 |          1 |                          6423 |                            0 |                          0 |                            0 |                          0 | 2025-10-15 04:49:50 |      6303910031349085422 |
+-------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+---------------------+--------------------------+

### Run a partitionâ€‘pruning query

In [13]:
%%sql
EXPLAIN SELECT * FROM demo.db.insurance WHERE region = 'southeast';

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                              plan |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                               == Physical Plan == |
|                                                                                                                                                                  *(1) Filter (isnotnull(region#211) AND (region#211 = southeast)) |
|                                                                                                                                                                                                             +- *(1) ColumnarToRow |
|    +- BatchScan demo.db.insurance[age#206, sex#207, bmi#208, children#209, smoker#210, region#211, charges#212] demo.db.insurance (branch=null) [filters=region IS NOT NULL, region = 'southeast', groupedBy=] RuntimeFilters: [] |
|                                                                                                                                                                                                                                   |
|                                                                                                                                                                                                                                   |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## 4. Schema evolution

### 4.1 Add a new column

In [14]:
%%sql
ALTER TABLE demo.db.insurance
ADD COLUMN policy_id STRING;

++
||
++
++

In [15]:
%%sql
SELECT * FROM demo.db.insurance;

+-----+--------+--------+----------+--------+-----------+-------------+-----------+
| age |    sex |    bmi | children | smoker |    region |     charges | policy_id |
+-----+--------+--------+----------+--------+-----------+-------------+-----------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |      None |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |      None |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |      None |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |      None |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |      None |
|  55 | female | 32.775 |        2 |     no | northwest | 12268.63225 |      None |
|  23 |   male | 17.385 |        1 |     no | northwest |  2775.19215 |      None |
|  63 |   male |  28.31 |        0 |     no | northwest |  13770.0979 |      None |
|  19 |   male | 20.425 |        0 |     no | northwest |  1625.43375 |      None |
|  62 | female | 32.965 |        3 |     no | northwest | 15612.19335 |      None |
|  28 | female |  34.77 |        0 |     no | northwest |   3556.9223 |      None |
|  21 | female |  33.63 |        2 |     no | northwest |   3579.8287 |      None |
|  40 | female |  28.69 |        3 |     no | northwest |   8059.6791 |      None |
|  58 |   male | 36.955 |        2 |    yes | northwest | 47496.49445 |      None |
|  34 | female | 37.335 |        2 |     no | northwest |  5989.52365 |      None |
|  64 |   male |   24.7 |        1 |     no | northwest | 30166.61817 |      None |
|  28 | female | 25.935 |        1 |     no | northwest |  4133.64165 |      None |
|  20 | female |  22.42 |        0 |    yes | northwest |  14711.7438 |      None |
|  40 |   male | 26.315 |        1 |     no | northwest |  6389.37785 |      None |
|  57 |   male |  34.01 |        0 |     no | northwest |  11356.6609 |      None |
|  41 | female | 32.965 |        0 |     no | northwest |  6571.02435 |      None |
|  48 | female |  41.23 |        4 |     no | northwest |  11033.6617 |      None |
|  45 |   male | 22.895 |        2 |    yes | northwest | 21098.55405 |      None |
|  57 | female |  31.16 |        0 |    yes | northwest |  43578.9394 |      None |
|  46 | female |  27.74 |        0 |     no | northwest |   8026.6666 |      None |
|  55 | female |  26.98 |        0 |     no | northwest |  11082.5772 |      None |
|  53 | female | 24.795 |        1 |     no | northwest | 10942.13205 |      None |
|  35 |   male |  34.77 |        2 |     no | northwest |   5729.0053 |      None |
|  20 |   male | 28.025 |        1 |    yes | northwest | 17560.37975 |      None |
|  26 |   male | 30.875 |        2 |     no | northwest |  3877.30425 |      None |
|  54 |   male |  33.63 |        1 |     no | northwest |  10825.2537 |      None |
|  21 | female |  35.72 |        0 |     no | northwest |   2404.7338 |      None |
|  37 | female |  23.37 |        2 |     no | northwest |   6686.4313 |      None |
|  20 | female | 28.975 |        0 |     no | northwest |  2257.47525 |      None |
|  47 | female | 33.915 |        3 |     no | northwest | 10115.00885 |      None |
|  32 | female | 17.765 |        2 |    yes | northwest |  32734.1863 |      None |
|  19 |   male | 25.555 |        0 |     no | northwest |  1632.56445 |      None |
|  22 |   male | 25.175 |        0 |     no | northwest |  2045.68525 |      None |
|  29 |   male | 29.735 |        2 |     no | northwest |   18157.876 |      None |
|  30 |   male |  28.69 |        3 |    yes | northwest |  20745.9891 |      None |
|  46 |   male | 30.495 |        3 |    yes | northwest | 40720.55105 |      None |
|  53 | female |  37.43 |        1 |     no | northwest |  10959.6947 |      None |
|  35 |   male |  24.13 |        1 |     no | northwest |   5125.2157 |      None |
|  44 |   male |  39.52 |        0 |     no | northwest |   6948.7008 |      None |
|  42 | female |   26.6 |        0 |    yes | northwest |   21348.706 |      None |
|  37 |   male |  29.64 |        0 |     no | northwest |   5028.1466 |      None |
|  32 | female | 33.155 |        3 |     no | northwest |  6128.79745 |      None |
|  19 | female | 31.825 |        1 |     no | northwest |  2719.27975 |      None |
|  24 | female | 33.345 |        0 |     no | northwest |  2855.43755 |      None |
|  38 |   male | 27.835 |        2 |     no | northwest |  6455.86265 |      None |
|  58 |   male | 28.595 |        0 |     no | northwest | 11735.87905 |      None |
|  44 | female |  26.41 |        0 |     no | northwest |   7419.4779 |      None |
|  29 | female |  32.11 |        2 |     no | northwest |   4922.9159 |      None |
|  56 | female |   26.6 |        1 |     no | northwest |   12044.342 |      None |
|  19 |   male |  30.59 |        0 |     no | northwest |   1639.5631 |      None |
|  51 | female |  18.05 |        0 |     no | northwest |   9644.2525 |      None |
|  19 | female |  32.11 |        0 |     no | northwest |   2130.6759 |      None |
|  60 | female | 24.035 |        0 |     no | northwest | 13012.20865 |      None |
|  40 |   male | 30.875 |        4 |     no | northwest |  8162.71625 |      None |
|  24 |   male |   28.5 |        2 |     no | northwest |    3537.703 |      None |
|  53 | female |   26.6 |        0 |     no | northwest |   10355.641 |      None |
|  42 | female | 36.195 |        1 |     no | northwest |  7443.64305 |      None |
|  39 |   male |  24.51 |        2 |     no | northwest |   6710.1919 |      None |
|  19 |   male |  29.07 |        0 |    yes | northwest |  17352.6803 |      None |
|  54 |   male |  30.02 |        0 |     no | northwest | 24476.47851 |      None |
|  56 |   male |  33.63 |        0 |    yes | northwest |  43921.1837 |      None |
|  51 |   male | 24.415 |        4 |     no | northwest | 11520.09985 |      None |
|  19 |   male |  31.92 |        0 |    yes | northwest |  33750.2918 |      None |
|  19 |   male | 36.955 |        0 |    yes | northwest | 36219.40545 |      None |
|  41 |   male |  37.05 |        2 |     no | northwest |   7265.7025 |      None |
|  25 |   male |  27.55 |        0 |     no | northwest |   2523.1695 |      None |
|  19 |   male | 20.615 |        2 |     no | northwest |  2803.69785 |      None |
|  63 | female |  26.22 |        0 |     no | northwest |  14256.1928 |      None |
|  31 |   male |  34.39 |        3 |    yes | northwest |  38746.3551 |      None |
|  48 | female |  28.88 |        1 |     no | northwest |   9249.4952 |      None |
|  29 |   male | 33.345 |        2 |     no | northwest |  19442.3535 |      None |
|  41 | female |  33.06 |        2 |     no | northwest |   7749.1564 |      None |
|  50 |   male | 32.205 |        0 |     no | northwest |  8835.26495 |      None |
|  44 | female | 27.645 |        0 |     no | northwest |  7421.19455 |      None |
|  34 |   male |  25.27 |        1 |     no | northwest |   4894.7533 |      None |
|  45 |   male |  36.48 |        2 |    yes | northwest |  42760.5022 |      None |
|  52 |   male |  27.36 |        0 |    yes | northwest |  24393.6224 |      None |
|  61 | female |  31.16 |        0 |     no | northwest |  13429.0354 |      None |
|  62 |   male |  27.55 |        1 |     no | northwest |  13937.6665 |      None |
|  62 |   male |  30.02 |        0 |     no | northwest |  13352.0998 |      None |
|  19 |   male | 27.835 |        0 |     no | northwest |  1635.73365 |      None |
|  57 | female |  23.18 |        0 |     no | northwest |  11830.6072 |      None |
|  47 |   male |  29.83 |        3 |     no | northwest |   9620.3307 |      None |
|  42 | female | 24.985 |        2 |     no | northwest |  8017.06115 |      None |
|  44 |   male | 32.015 |        2 |     no | northwest |  8116.26885 |      None |
|  61 | female |  21.09 |        0 |     no | northwest |  13415.0381 |      None |
|  23 | female |  28.31 |        0 |    yes | northwest |  18033.9679 |      None |
|  64 | female | 30.115 |        3 |     no | northwest | 16455.70785 |      None |
|  50 |   male | 25.365 |        2 |     no | northwest | 30284.64294 |      None |
|  26 | female |  22.61 |        0 |     no | northwest |   3176.8159 |      None |
|  24 | female |  30.21 |        3 |     no | northwest |   4618.0799 |      None |
|  19 | female |  37.43 |        0 |     no | northwest |   2138.0707 |      None |
|  46 |   male | 19.855 |        0 |     no | northwest |  7526.70645 |      None |
|  64 | female | 32.965 |        0 |     no | northwest | 14692.66935 |      None |
|  49 |   male |   32.3 |        3 |     no | northwest |    10269.46 |      None |
+-----+--------+--------+----------+--------+-----------+-------------+-----------+

### 4.2 Rename column

In [16]:
%%sql
ALTER TABLE demo.db.insurance
RENAME COLUMN sex TO gender;

++
||
++
++

In [17]:
%%sql
SELECT * FROM demo.db.insurance;

+-----+--------+--------+----------+--------+-----------+-------------+-----------+
| age | gender |    bmi | children | smoker |    region |     charges | policy_id |
+-----+--------+--------+----------+--------+-----------+-------------+-----------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |      None |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |      None |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |      None |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |      None |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |      None |
|  55 | female | 32.775 |        2 |     no | northwest | 12268.63225 |      None |
|  23 |   male | 17.385 |        1 |     no | northwest |  2775.19215 |      None |
|  63 |   male |  28.31 |        0 |     no | northwest |  13770.0979 |      None |
|  19 |   male | 20.425 |        0 |     no | northwest |  1625.43375 |      None |
|  62 | female | 32.965 |        3 |     no | northwest | 15612.19335 |      None |
|  28 | female |  34.77 |        0 |     no | northwest |   3556.9223 |      None |
|  21 | female |  33.63 |        2 |     no | northwest |   3579.8287 |      None |
|  40 | female |  28.69 |        3 |     no | northwest |   8059.6791 |      None |
|  58 |   male | 36.955 |        2 |    yes | northwest | 47496.49445 |      None |
|  34 | female | 37.335 |        2 |     no | northwest |  5989.52365 |      None |
|  64 |   male |   24.7 |        1 |     no | northwest | 30166.61817 |      None |
|  28 | female | 25.935 |        1 |     no | northwest |  4133.64165 |      None |
|  20 | female |  22.42 |        0 |    yes | northwest |  14711.7438 |      None |
|  40 |   male | 26.315 |        1 |     no | northwest |  6389.37785 |      None |
|  57 |   male |  34.01 |        0 |     no | northwest |  11356.6609 |      None |
|  41 | female | 32.965 |        0 |     no | northwest |  6571.02435 |      None |
|  48 | female |  41.23 |        4 |     no | northwest |  11033.6617 |      None |
|  45 |   male | 22.895 |        2 |    yes | northwest | 21098.55405 |      None |
|  57 | female |  31.16 |        0 |    yes | northwest |  43578.9394 |      None |
|  46 | female |  27.74 |        0 |     no | northwest |   8026.6666 |      None |
|  55 | female |  26.98 |        0 |     no | northwest |  11082.5772 |      None |
|  53 | female | 24.795 |        1 |     no | northwest | 10942.13205 |      None |
|  35 |   male |  34.77 |        2 |     no | northwest |   5729.0053 |      None |
|  20 |   male | 28.025 |        1 |    yes | northwest | 17560.37975 |      None |
|  26 |   male | 30.875 |        2 |     no | northwest |  3877.30425 |      None |
|  54 |   male |  33.63 |        1 |     no | northwest |  10825.2537 |      None |
|  21 | female |  35.72 |        0 |     no | northwest |   2404.7338 |      None |
|  37 | female |  23.37 |        2 |     no | northwest |   6686.4313 |      None |
|  20 | female | 28.975 |        0 |     no | northwest |  2257.47525 |      None |
|  47 | female | 33.915 |        3 |     no | northwest | 10115.00885 |      None |
|  32 | female | 17.765 |        2 |    yes | northwest |  32734.1863 |      None |
|  19 |   male | 25.555 |        0 |     no | northwest |  1632.56445 |      None |
|  22 |   male | 25.175 |        0 |     no | northwest |  2045.68525 |      None |
|  29 |   male | 29.735 |        2 |     no | northwest |   18157.876 |      None |
|  30 |   male |  28.69 |        3 |    yes | northwest |  20745.9891 |      None |
|  46 |   male | 30.495 |        3 |    yes | northwest | 40720.55105 |      None |
|  53 | female |  37.43 |        1 |     no | northwest |  10959.6947 |      None |
|  35 |   male |  24.13 |        1 |     no | northwest |   5125.2157 |      None |
|  44 |   male |  39.52 |        0 |     no | northwest |   6948.7008 |      None |
|  42 | female |   26.6 |        0 |    yes | northwest |   21348.706 |      None |
|  37 |   male |  29.64 |        0 |     no | northwest |   5028.1466 |      None |
|  32 | female | 33.155 |        3 |     no | northwest |  6128.79745 |      None |
|  19 | female | 31.825 |        1 |     no | northwest |  2719.27975 |      None |
|  24 | female | 33.345 |        0 |     no | northwest |  2855.43755 |      None |
|  38 |   male | 27.835 |        2 |     no | northwest |  6455.86265 |      None |
|  58 |   male | 28.595 |        0 |     no | northwest | 11735.87905 |      None |
|  44 | female |  26.41 |        0 |     no | northwest |   7419.4779 |      None |
|  29 | female |  32.11 |        2 |     no | northwest |   4922.9159 |      None |
|  56 | female |   26.6 |        1 |     no | northwest |   12044.342 |      None |
|  19 |   male |  30.59 |        0 |     no | northwest |   1639.5631 |      None |
|  51 | female |  18.05 |        0 |     no | northwest |   9644.2525 |      None |
|  19 | female |  32.11 |        0 |     no | northwest |   2130.6759 |      None |
|  60 | female | 24.035 |        0 |     no | northwest | 13012.20865 |      None |
|  40 |   male | 30.875 |        4 |     no | northwest |  8162.71625 |      None |
|  24 |   male |   28.5 |        2 |     no | northwest |    3537.703 |      None |
|  53 | female |   26.6 |        0 |     no | northwest |   10355.641 |      None |
|  42 | female | 36.195 |        1 |     no | northwest |  7443.64305 |      None |
|  39 |   male |  24.51 |        2 |     no | northwest |   6710.1919 |      None |
|  19 |   male |  29.07 |        0 |    yes | northwest |  17352.6803 |      None |
|  54 |   male |  30.02 |        0 |     no | northwest | 24476.47851 |      None |
|  56 |   male |  33.63 |        0 |    yes | northwest |  43921.1837 |      None |
|  51 |   male | 24.415 |        4 |     no | northwest | 11520.09985 |      None |
|  19 |   male |  31.92 |        0 |    yes | northwest |  33750.2918 |      None |
|  19 |   male | 36.955 |        0 |    yes | northwest | 36219.40545 |      None |
|  41 |   male |  37.05 |        2 |     no | northwest |   7265.7025 |      None |
|  25 |   male |  27.55 |        0 |     no | northwest |   2523.1695 |      None |
|  19 |   male | 20.615 |        2 |     no | northwest |  2803.69785 |      None |
|  63 | female |  26.22 |        0 |     no | northwest |  14256.1928 |      None |
|  31 |   male |  34.39 |        3 |    yes | northwest |  38746.3551 |      None |
|  48 | female |  28.88 |        1 |     no | northwest |   9249.4952 |      None |
|  29 |   male | 33.345 |        2 |     no | northwest |  19442.3535 |      None |
|  41 | female |  33.06 |        2 |     no | northwest |   7749.1564 |      None |
|  50 |   male | 32.205 |        0 |     no | northwest |  8835.26495 |      None |
|  44 | female | 27.645 |        0 |     no | northwest |  7421.19455 |      None |
|  34 |   male |  25.27 |        1 |     no | northwest |   4894.7533 |      None |
|  45 |   male |  36.48 |        2 |    yes | northwest |  42760.5022 |      None |
|  52 |   male |  27.36 |        0 |    yes | northwest |  24393.6224 |      None |
|  61 | female |  31.16 |        0 |     no | northwest |  13429.0354 |      None |
|  62 |   male |  27.55 |        1 |     no | northwest |  13937.6665 |      None |
|  62 |   male |  30.02 |        0 |     no | northwest |  13352.0998 |      None |
|  19 |   male | 27.835 |        0 |     no | northwest |  1635.73365 |      None |
|  57 | female |  23.18 |        0 |     no | northwest |  11830.6072 |      None |
|  47 |   male |  29.83 |        3 |     no | northwest |   9620.3307 |      None |
|  42 | female | 24.985 |        2 |     no | northwest |  8017.06115 |      None |
|  44 |   male | 32.015 |        2 |     no | northwest |  8116.26885 |      None |
|  61 | female |  21.09 |        0 |     no | northwest |  13415.0381 |      None |
|  23 | female |  28.31 |        0 |    yes | northwest |  18033.9679 |      None |
|  64 | female | 30.115 |        3 |     no | northwest | 16455.70785 |      None |
|  50 |   male | 25.365 |        2 |     no | northwest | 30284.64294 |      None |
|  26 | female |  22.61 |        0 |     no | northwest |   3176.8159 |      None |
|  24 | female |  30.21 |        3 |     no | northwest |   4618.0799 |      None |
|  19 | female |  37.43 |        0 |     no | northwest |   2138.0707 |      None |
|  46 |   male | 19.855 |        0 |     no | northwest |  7526.70645 |      None |
|  64 | female | 32.965 |        0 |     no | northwest | 14692.66935 |      None |
|  49 |   male |   32.3 |        3 |     no | northwest |    10269.46 |      None |
+-----+--------+--------+----------+--------+-----------+-------------+-----------+

### 4.3 Drop column

In [18]:
%%sql
ALTER TABLE demo.db.insurance
DROP COLUMN policy_id;

++
||
++
++

In [19]:
%%sql
SELECT * FROM demo.db.insurance;

+-----+--------+--------+----------+--------+-----------+-------------+
| age | gender |    bmi | children | smoker |    region |     charges |
+-----+--------+--------+----------+--------+-----------+-------------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |
|  55 | female | 32.775 |        2 |     no | northwest | 12268.63225 |
|  23 |   male | 17.385 |        1 |     no | northwest |  2775.19215 |
|  63 |   male |  28.31 |        0 |     no | northwest |  13770.0979 |
|  19 |   male | 20.425 |        0 |     no | northwest |  1625.43375 |
|  62 | female | 32.965 |        3 |     no | northwest | 15612.19335 |
|  28 | female |  34.77 |        0 |     no | northwest |   3556.9223 |
|  21 | female |  33.63 |        2 |     no | northwest |   3579.8287 |
|  40 | female |  28.69 |        3 |     no | northwest |   8059.6791 |
|  58 |   male | 36.955 |        2 |    yes | northwest | 47496.49445 |
|  34 | female | 37.335 |        2 |     no | northwest |  5989.52365 |
|  64 |   male |   24.7 |        1 |     no | northwest | 30166.61817 |
|  28 | female | 25.935 |        1 |     no | northwest |  4133.64165 |
|  20 | female |  22.42 |        0 |    yes | northwest |  14711.7438 |
|  40 |   male | 26.315 |        1 |     no | northwest |  6389.37785 |
|  57 |   male |  34.01 |        0 |     no | northwest |  11356.6609 |
|  41 | female | 32.965 |        0 |     no | northwest |  6571.02435 |
|  48 | female |  41.23 |        4 |     no | northwest |  11033.6617 |
|  45 |   male | 22.895 |        2 |    yes | northwest | 21098.55405 |
|  57 | female |  31.16 |        0 |    yes | northwest |  43578.9394 |
|  46 | female |  27.74 |        0 |     no | northwest |   8026.6666 |
|  55 | female |  26.98 |        0 |     no | northwest |  11082.5772 |
|  53 | female | 24.795 |        1 |     no | northwest | 10942.13205 |
|  35 |   male |  34.77 |        2 |     no | northwest |   5729.0053 |
|  20 |   male | 28.025 |        1 |    yes | northwest | 17560.37975 |
|  26 |   male | 30.875 |        2 |     no | northwest |  3877.30425 |
|  54 |   male |  33.63 |        1 |     no | northwest |  10825.2537 |
|  21 | female |  35.72 |        0 |     no | northwest |   2404.7338 |
|  37 | female |  23.37 |        2 |     no | northwest |   6686.4313 |
|  20 | female | 28.975 |        0 |     no | northwest |  2257.47525 |
|  47 | female | 33.915 |        3 |     no | northwest | 10115.00885 |
|  32 | female | 17.765 |        2 |    yes | northwest |  32734.1863 |
|  19 |   male | 25.555 |        0 |     no | northwest |  1632.56445 |
|  22 |   male | 25.175 |        0 |     no | northwest |  2045.68525 |
|  29 |   male | 29.735 |        2 |     no | northwest |   18157.876 |
|  30 |   male |  28.69 |        3 |    yes | northwest |  20745.9891 |
|  46 |   male | 30.495 |        3 |    yes | northwest | 40720.55105 |
|  53 | female |  37.43 |        1 |     no | northwest |  10959.6947 |
|  35 |   male |  24.13 |        1 |     no | northwest |   5125.2157 |
|  44 |   male |  39.52 |        0 |     no | northwest |   6948.7008 |
|  42 | female |   26.6 |        0 |    yes | northwest |   21348.706 |
|  37 |   male |  29.64 |        0 |     no | northwest |   5028.1466 |
|  32 | female | 33.155 |        3 |     no | northwest |  6128.79745 |
|  19 | female | 31.825 |        1 |     no | northwest |  2719.27975 |
|  24 | female | 33.345 |        0 |     no | northwest |  2855.43755 |
|  38 |   male | 27.835 |        2 |     no | northwest |  6455.86265 |
|  58 |   male | 28.595 |        0 |     no | northwest | 11735.87905 |
|  44 | female |  26.41 |        0 |     no | northwest |   7419.4779 |
|  29 | female |  32.11 |        2 |     no | northwest |   4922.9159 |
|  56 | female |   26.6 |        1 |     no | northwest |   12044.342 |
|  19 |   male |  30.59 |        0 |     no | northwest |   1639.5631 |
|  51 | female |  18.05 |        0 |     no | northwest |   9644.2525 |
|  19 | female |  32.11 |        0 |     no | northwest |   2130.6759 |
|  60 | female | 24.035 |        0 |     no | northwest | 13012.20865 |
|  40 |   male | 30.875 |        4 |     no | northwest |  8162.71625 |
|  24 |   male |   28.5 |        2 |     no | northwest |    3537.703 |
|  53 | female |   26.6 |        0 |     no | northwest |   10355.641 |
|  42 | female | 36.195 |        1 |     no | northwest |  7443.64305 |
|  39 |   male |  24.51 |        2 |     no | northwest |   6710.1919 |
|  19 |   male |  29.07 |        0 |    yes | northwest |  17352.6803 |
|  54 |   male |  30.02 |        0 |     no | northwest | 24476.47851 |
|  56 |   male |  33.63 |        0 |    yes | northwest |  43921.1837 |
|  51 |   male | 24.415 |        4 |     no | northwest | 11520.09985 |
|  19 |   male |  31.92 |        0 |    yes | northwest |  33750.2918 |
|  19 |   male | 36.955 |        0 |    yes | northwest | 36219.40545 |
|  41 |   male |  37.05 |        2 |     no | northwest |   7265.7025 |
|  25 |   male |  27.55 |        0 |     no | northwest |   2523.1695 |
|  19 |   male | 20.615 |        2 |     no | northwest |  2803.69785 |
|  63 | female |  26.22 |        0 |     no | northwest |  14256.1928 |
|  31 |   male |  34.39 |        3 |    yes | northwest |  38746.3551 |
|  48 | female |  28.88 |        1 |     no | northwest |   9249.4952 |
|  29 |   male | 33.345 |        2 |     no | northwest |  19442.3535 |
|  41 | female |  33.06 |        2 |     no | northwest |   7749.1564 |
|  50 |   male | 32.205 |        0 |     no | northwest |  8835.26495 |
|  44 | female | 27.645 |        0 |     no | northwest |  7421.19455 |
|  34 |   male |  25.27 |        1 |     no | northwest |   4894.7533 |
|  45 |   male |  36.48 |        2 |    yes | northwest |  42760.5022 |
|  52 |   male |  27.36 |        0 |    yes | northwest |  24393.6224 |
|  61 | female |  31.16 |        0 |     no | northwest |  13429.0354 |
|  62 |   male |  27.55 |        1 |     no | northwest |  13937.6665 |
|  62 |   male |  30.02 |        0 |     no | northwest |  13352.0998 |
|  19 |   male | 27.835 |        0 |     no | northwest |  1635.73365 |
|  57 | female |  23.18 |        0 |     no | northwest |  11830.6072 |
|  47 |   male |  29.83 |        3 |     no | northwest |   9620.3307 |
|  42 | female | 24.985 |        2 |     no | northwest |  8017.06115 |
|  44 |   male | 32.015 |        2 |     no | northwest |  8116.26885 |
|  61 | female |  21.09 |        0 |     no | northwest |  13415.0381 |
|  23 | female |  28.31 |        0 |    yes | northwest |  18033.9679 |
|  64 | female | 30.115 |        3 |     no | northwest | 16455.70785 |
|  50 |   male | 25.365 |        2 |     no | northwest | 30284.64294 |
|  26 | female |  22.61 |        0 |     no | northwest |   3176.8159 |
|  24 | female |  30.21 |        3 |     no | northwest |   4618.0799 |
|  19 | female |  37.43 |        0 |     no | northwest |   2138.0707 |
|  46 |   male | 19.855 |        0 |     no | northwest |  7526.70645 |
|  64 | female | 32.965 |        0 |     no | northwest | 14692.66935 |
|  49 |   male |   32.3 |        3 |     no | northwest |    10269.46 |
+-----+--------+--------+----------+--------+-----------+-------------+

## 4.4 verify schema history

### Schema history

In [20]:
%%sql
SELECT * FROM demo.db.insurance.history ORDER BY made_current_at DESC;

+----------------------------+---------------------+-----------+---------------------+
|            made_current_at |         snapshot_id | parent_id | is_current_ancestor |
+----------------------------+---------------------+-----------+---------------------+
|        2025-10-15 04:49:50 | 6303910031349085422 |      None |                True |
| 2025-10-15 04:30:49.209000 | 3858102109553479743 |      None |               False |
| 2025-10-15 04:15:21.270000 | 9164666238223732662 |      None |               False |
| 2025-10-15 04:11:20.838000 | 3561448738912927623 |      None |               False |
+----------------------------+---------------------+-----------+---------------------+

### Inspect metadata

In [21]:
%%sql
SELECT * FROM demo.db.insurance.snapshots;

+----------------------------+---------------------+-----------+-----------+-----------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id | parent_id | operation |                                                                                             manifest_list |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         summary |
+----------------------------+---------------------+-----------+-----------+-----------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2025-10-15 04:11:20.838000 | 3561448738912927623 |      None |    append | s3://warehouse/db/insurance/metadata/snap-3561448738912927623-1-07470707-e7dc-419e-b93a-b0edb2df5128.avro | {'engine-version': '3.5.5', 'added-data-files': '1', 'total-equality-deletes': '0', 'app-id': 'local-1760501315703', 'added-records': '1338', 'total-records': '1338', 'spark.app.id': 'local-1760501315703', 'changed-partition-count': '1', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '16528', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.8.1 (commit 9ce0fcf0af7becf25ad9fc996c3bad2afdcfd33d)', 'total-files-size': '16528', 'total-data-files': '1'} |
| 2025-10-15 04:15:21.270000 | 9164666238223732662 |      None |    append | s3://warehouse/db/insurance/metadata/snap-9164666238223732662-1-e059a0fb-2052-4846-8358-10b7718246e6.avro | {'engine-version': '3.5.5', 'added-data-files': '4', 'total-equality-deletes': '0', 'app-id': 'local-1760501710013', 'added-records': '1338', 'total-records': '1338', 'spark.app.id': 'local-1760501710013', 'changed-partition-count': '4', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '25220', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.8.1 (commit 9ce0fcf0af7becf25ad9fc996c3bad2afdcfd33d)', 'total-files-size': '25220', 'total-data-files': '4'} |
| 2025-10-15 04:30:49.209000 | 3858102109553479743 |      None |    append | s3://warehouse/db/insurance/metadata/snap-3858102109553479743-1-ce0dac53-fc97-4aa5-803e-5c8eea6ec90c.avro | {'engine-version': '3.5.5', 'added-data-files': '4', 'total-equality-deletes': '0', 'app-id': 'local-1760502640587', 'added-records': '1338', 'total-records': '1338', 'spark.app.id': 'local-1760502640587', 'changed-partition-count': '4', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '25220', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.8.1 (commit 9ce0fcf0af7becf25ad9fc996c3bad2afdcfd33d)', 'total-files-size': '25220', 'total-data-files': '4'} |
|        2025-10-15 04:49:50 | 6303910031349085422 |      None |    append | s3://warehouse/db/insurance/metadata/snap-6303910031349085422-1-eb7d4f2e-7add-471a-aa07-50b8997a4816.avro | {'engine-version': '3.5.5', 'added-data-files': '4', 'total-equality-deletes': '0', 'app-id': 'local-1760503776197', 'added-records': '1338', 'total-records': '1338', 'spark.app.id': 'local-1760503776197', 'changed-partition-count': '4', 'engine-name': 'spark', 'total-position-deletes': '0', 'added-files-size': '25220', 'total-delete-files': '0', 'iceberg-version': 'Apache Iceberg 1.8.1 (commit 9ce0fcf0af7becf25ad9fc996c3bad2afdcfd33d)', 'total-files-size': '25220', 'total-data-files': '4'} |
+----------------------------+---------------------+-----------+-----------+-----------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## 5. Time Travel
https://docs.databricks.com/gcp/en/delta/history

## 5.1 Query by snapshot ID

In [23]:
%%sql
SELECT * FROM demo.db.insurance.snapshot_id_3858102109553479743;

+-----+--------+--------+----------+--------+-----------+-------------+
| age |    sex |    bmi | children | smoker |    region |     charges |
+-----+--------+--------+----------+--------+-----------+-------------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |
|  55 | female | 32.775 |        2 |     no | northwest | 12268.63225 |
|  23 |   male | 17.385 |        1 |     no | northwest |  2775.19215 |
|  63 |   male |  28.31 |        0 |     no | northwest |  13770.0979 |
|  19 |   male | 20.425 |        0 |     no | northwest |  1625.43375 |
|  62 | female | 32.965 |        3 |     no | northwest | 15612.19335 |
|  28 | female |  34.77 |        0 |     no | northwest |   3556.9223 |
|  21 | female |  33.63 |        2 |     no | northwest |   3579.8287 |
|  40 | female |  28.69 |        3 |     no | northwest |   8059.6791 |
|  58 |   male | 36.955 |        2 |    yes | northwest | 47496.49445 |
|  34 | female | 37.335 |        2 |     no | northwest |  5989.52365 |
|  64 |   male |   24.7 |        1 |     no | northwest | 30166.61817 |
|  28 | female | 25.935 |        1 |     no | northwest |  4133.64165 |
|  20 | female |  22.42 |        0 |    yes | northwest |  14711.7438 |
|  40 |   male | 26.315 |        1 |     no | northwest |  6389.37785 |
|  57 |   male |  34.01 |        0 |     no | northwest |  11356.6609 |
|  41 | female | 32.965 |        0 |     no | northwest |  6571.02435 |
|  48 | female |  41.23 |        4 |     no | northwest |  11033.6617 |
|  45 |   male | 22.895 |        2 |    yes | northwest | 21098.55405 |
|  57 | female |  31.16 |        0 |    yes | northwest |  43578.9394 |
|  46 | female |  27.74 |        0 |     no | northwest |   8026.6666 |
|  55 | female |  26.98 |        0 |     no | northwest |  11082.5772 |
|  53 | female | 24.795 |        1 |     no | northwest | 10942.13205 |
|  35 |   male |  34.77 |        2 |     no | northwest |   5729.0053 |
|  20 |   male | 28.025 |        1 |    yes | northwest | 17560.37975 |
|  26 |   male | 30.875 |        2 |     no | northwest |  3877.30425 |
|  54 |   male |  33.63 |        1 |     no | northwest |  10825.2537 |
|  21 | female |  35.72 |        0 |     no | northwest |   2404.7338 |
|  37 | female |  23.37 |        2 |     no | northwest |   6686.4313 |
|  20 | female | 28.975 |        0 |     no | northwest |  2257.47525 |
|  47 | female | 33.915 |        3 |     no | northwest | 10115.00885 |
|  32 | female | 17.765 |        2 |    yes | northwest |  32734.1863 |
|  19 |   male | 25.555 |        0 |     no | northwest |  1632.56445 |
|  22 |   male | 25.175 |        0 |     no | northwest |  2045.68525 |
|  29 |   male | 29.735 |        2 |     no | northwest |   18157.876 |
|  30 |   male |  28.69 |        3 |    yes | northwest |  20745.9891 |
|  46 |   male | 30.495 |        3 |    yes | northwest | 40720.55105 |
|  53 | female |  37.43 |        1 |     no | northwest |  10959.6947 |
|  35 |   male |  24.13 |        1 |     no | northwest |   5125.2157 |
|  44 |   male |  39.52 |        0 |     no | northwest |   6948.7008 |
|  42 | female |   26.6 |        0 |    yes | northwest |   21348.706 |
|  37 |   male |  29.64 |        0 |     no | northwest |   5028.1466 |
|  32 | female | 33.155 |        3 |     no | northwest |  6128.79745 |
|  19 | female | 31.825 |        1 |     no | northwest |  2719.27975 |
|  24 | female | 33.345 |        0 |     no | northwest |  2855.43755 |
|  38 |   male | 27.835 |        2 |     no | northwest |  6455.86265 |
|  58 |   male | 28.595 |        0 |     no | northwest | 11735.87905 |
|  44 | female |  26.41 |        0 |     no | northwest |   7419.4779 |
|  29 | female |  32.11 |        2 |     no | northwest |   4922.9159 |
|  56 | female |   26.6 |        1 |     no | northwest |   12044.342 |
|  19 |   male |  30.59 |        0 |     no | northwest |   1639.5631 |
|  51 | female |  18.05 |        0 |     no | northwest |   9644.2525 |
|  19 | female |  32.11 |        0 |     no | northwest |   2130.6759 |
|  60 | female | 24.035 |        0 |     no | northwest | 13012.20865 |
|  40 |   male | 30.875 |        4 |     no | northwest |  8162.71625 |
|  24 |   male |   28.5 |        2 |     no | northwest |    3537.703 |
|  53 | female |   26.6 |        0 |     no | northwest |   10355.641 |
|  42 | female | 36.195 |        1 |     no | northwest |  7443.64305 |
|  39 |   male |  24.51 |        2 |     no | northwest |   6710.1919 |
|  19 |   male |  29.07 |        0 |    yes | northwest |  17352.6803 |
|  54 |   male |  30.02 |        0 |     no | northwest | 24476.47851 |
|  56 |   male |  33.63 |        0 |    yes | northwest |  43921.1837 |
|  51 |   male | 24.415 |        4 |     no | northwest | 11520.09985 |
|  19 |   male |  31.92 |        0 |    yes | northwest |  33750.2918 |
|  19 |   male | 36.955 |        0 |    yes | northwest | 36219.40545 |
|  41 |   male |  37.05 |        2 |     no | northwest |   7265.7025 |
|  25 |   male |  27.55 |        0 |     no | northwest |   2523.1695 |
|  19 |   male | 20.615 |        2 |     no | northwest |  2803.69785 |
|  63 | female |  26.22 |        0 |     no | northwest |  14256.1928 |
|  31 |   male |  34.39 |        3 |    yes | northwest |  38746.3551 |
|  48 | female |  28.88 |        1 |     no | northwest |   9249.4952 |
|  29 |   male | 33.345 |        2 |     no | northwest |  19442.3535 |
|  41 | female |  33.06 |        2 |     no | northwest |   7749.1564 |
|  50 |   male | 32.205 |        0 |     no | northwest |  8835.26495 |
|  44 | female | 27.645 |        0 |     no | northwest |  7421.19455 |
|  34 |   male |  25.27 |        1 |     no | northwest |   4894.7533 |
|  45 |   male |  36.48 |        2 |    yes | northwest |  42760.5022 |
|  52 |   male |  27.36 |        0 |    yes | northwest |  24393.6224 |
|  61 | female |  31.16 |        0 |     no | northwest |  13429.0354 |
|  62 |   male |  27.55 |        1 |     no | northwest |  13937.6665 |
|  62 |   male |  30.02 |        0 |     no | northwest |  13352.0998 |
|  19 |   male | 27.835 |        0 |     no | northwest |  1635.73365 |
|  57 | female |  23.18 |        0 |     no | northwest |  11830.6072 |
|  47 |   male |  29.83 |        3 |     no | northwest |   9620.3307 |
|  42 | female | 24.985 |        2 |     no | northwest |  8017.06115 |
|  44 |   male | 32.015 |        2 |     no | northwest |  8116.26885 |
|  61 | female |  21.09 |        0 |     no | northwest |  13415.0381 |
|  23 | female |  28.31 |        0 |    yes | northwest |  18033.9679 |
|  64 | female | 30.115 |        3 |     no | northwest | 16455.70785 |
|  50 |   male | 25.365 |        2 |     no | northwest | 30284.64294 |
|  26 | female |  22.61 |        0 |     no | northwest |   3176.8159 |
|  24 | female |  30.21 |        3 |     no | northwest |   4618.0799 |
|  19 | female |  37.43 |        0 |     no | northwest |   2138.0707 |
|  46 |   male | 19.855 |        0 |     no | northwest |  7526.70645 |
|  64 | female | 32.965 |        0 |     no | northwest | 14692.66935 |
|  49 |   male |   32.3 |        3 |     no | northwest |    10269.46 |
+-----+--------+--------+----------+--------+-----------+-------------+

## 5.2 Query by timestamp

In [24]:
%%sql
SELECT * FROM demo.db.insurance TIMESTAMP AS OF '2025-10-15 04:30:49.209000';

+-----+--------+--------+----------+--------+-----------+-------------+
| age |    sex |    bmi | children | smoker |    region |     charges |
+-----+--------+--------+----------+--------+-----------+-------------+
|  33 |   male | 22.705 |        0 |     no | northwest | 21984.47061 |
|  32 |   male |  28.88 |        0 |     no | northwest |   3866.8552 |
|  37 | female |  27.74 |        3 |     no | northwest |   7281.5056 |
|  60 | female |  25.84 |        0 |     no | northwest | 28923.13692 |
|  37 |   male | 28.025 |        2 |     no | northwest |  6203.90175 |
|  55 | female | 32.775 |        2 |     no | northwest | 12268.63225 |
|  23 |   male | 17.385 |        1 |     no | northwest |  2775.19215 |
|  63 |   male |  28.31 |        0 |     no | northwest |  13770.0979 |
|  19 |   male | 20.425 |        0 |     no | northwest |  1625.43375 |
|  62 | female | 32.965 |        3 |     no | northwest | 15612.19335 |
|  28 | female |  34.77 |        0 |     no | northwest |   3556.9223 |
|  21 | female |  33.63 |        2 |     no | northwest |   3579.8287 |
|  40 | female |  28.69 |        3 |     no | northwest |   8059.6791 |
|  58 |   male | 36.955 |        2 |    yes | northwest | 47496.49445 |
|  34 | female | 37.335 |        2 |     no | northwest |  5989.52365 |
|  64 |   male |   24.7 |        1 |     no | northwest | 30166.61817 |
|  28 | female | 25.935 |        1 |     no | northwest |  4133.64165 |
|  20 | female |  22.42 |        0 |    yes | northwest |  14711.7438 |
|  40 |   male | 26.315 |        1 |     no | northwest |  6389.37785 |
|  57 |   male |  34.01 |        0 |     no | northwest |  11356.6609 |
|  41 | female | 32.965 |        0 |     no | northwest |  6571.02435 |
|  48 | female |  41.23 |        4 |     no | northwest |  11033.6617 |
|  45 |   male | 22.895 |        2 |    yes | northwest | 21098.55405 |
|  57 | female |  31.16 |        0 |    yes | northwest |  43578.9394 |
|  46 | female |  27.74 |        0 |     no | northwest |   8026.6666 |
|  55 | female |  26.98 |        0 |     no | northwest |  11082.5772 |
|  53 | female | 24.795 |        1 |     no | northwest | 10942.13205 |
|  35 |   male |  34.77 |        2 |     no | northwest |   5729.0053 |
|  20 |   male | 28.025 |        1 |    yes | northwest | 17560.37975 |
|  26 |   male | 30.875 |        2 |     no | northwest |  3877.30425 |
|  54 |   male |  33.63 |        1 |     no | northwest |  10825.2537 |
|  21 | female |  35.72 |        0 |     no | northwest |   2404.7338 |
|  37 | female |  23.37 |        2 |     no | northwest |   6686.4313 |
|  20 | female | 28.975 |        0 |     no | northwest |  2257.47525 |
|  47 | female | 33.915 |        3 |     no | northwest | 10115.00885 |
|  32 | female | 17.765 |        2 |    yes | northwest |  32734.1863 |
|  19 |   male | 25.555 |        0 |     no | northwest |  1632.56445 |
|  22 |   male | 25.175 |        0 |     no | northwest |  2045.68525 |
|  29 |   male | 29.735 |        2 |     no | northwest |   18157.876 |
|  30 |   male |  28.69 |        3 |    yes | northwest |  20745.9891 |
|  46 |   male | 30.495 |        3 |    yes | northwest | 40720.55105 |
|  53 | female |  37.43 |        1 |     no | northwest |  10959.6947 |
|  35 |   male |  24.13 |        1 |     no | northwest |   5125.2157 |
|  44 |   male |  39.52 |        0 |     no | northwest |   6948.7008 |
|  42 | female |   26.6 |        0 |    yes | northwest |   21348.706 |
|  37 |   male |  29.64 |        0 |     no | northwest |   5028.1466 |
|  32 | female | 33.155 |        3 |     no | northwest |  6128.79745 |
|  19 | female | 31.825 |        1 |     no | northwest |  2719.27975 |
|  24 | female | 33.345 |        0 |     no | northwest |  2855.43755 |
|  38 |   male | 27.835 |        2 |     no | northwest |  6455.86265 |
|  58 |   male | 28.595 |        0 |     no | northwest | 11735.87905 |
|  44 | female |  26.41 |        0 |     no | northwest |   7419.4779 |
|  29 | female |  32.11 |        2 |     no | northwest |   4922.9159 |
|  56 | female |   26.6 |        1 |     no | northwest |   12044.342 |
|  19 |   male |  30.59 |        0 |     no | northwest |   1639.5631 |
|  51 | female |  18.05 |        0 |     no | northwest |   9644.2525 |
|  19 | female |  32.11 |        0 |     no | northwest |   2130.6759 |
|  60 | female | 24.035 |        0 |     no | northwest | 13012.20865 |
|  40 |   male | 30.875 |        4 |     no | northwest |  8162.71625 |
|  24 |   male |   28.5 |        2 |     no | northwest |    3537.703 |
|  53 | female |   26.6 |        0 |     no | northwest |   10355.641 |
|  42 | female | 36.195 |        1 |     no | northwest |  7443.64305 |
|  39 |   male |  24.51 |        2 |     no | northwest |   6710.1919 |
|  19 |   male |  29.07 |        0 |    yes | northwest |  17352.6803 |
|  54 |   male |  30.02 |        0 |     no | northwest | 24476.47851 |
|  56 |   male |  33.63 |        0 |    yes | northwest |  43921.1837 |
|  51 |   male | 24.415 |        4 |     no | northwest | 11520.09985 |
|  19 |   male |  31.92 |        0 |    yes | northwest |  33750.2918 |
|  19 |   male | 36.955 |        0 |    yes | northwest | 36219.40545 |
|  41 |   male |  37.05 |        2 |     no | northwest |   7265.7025 |
|  25 |   male |  27.55 |        0 |     no | northwest |   2523.1695 |
|  19 |   male | 20.615 |        2 |     no | northwest |  2803.69785 |
|  63 | female |  26.22 |        0 |     no | northwest |  14256.1928 |
|  31 |   male |  34.39 |        3 |    yes | northwest |  38746.3551 |
|  48 | female |  28.88 |        1 |     no | northwest |   9249.4952 |
|  29 |   male | 33.345 |        2 |     no | northwest |  19442.3535 |
|  41 | female |  33.06 |        2 |     no | northwest |   7749.1564 |
|  50 |   male | 32.205 |        0 |     no | northwest |  8835.26495 |
|  44 | female | 27.645 |        0 |     no | northwest |  7421.19455 |
|  34 |   male |  25.27 |        1 |     no | northwest |   4894.7533 |
|  45 |   male |  36.48 |        2 |    yes | northwest |  42760.5022 |
|  52 |   male |  27.36 |        0 |    yes | northwest |  24393.6224 |
|  61 | female |  31.16 |        0 |     no | northwest |  13429.0354 |
|  62 |   male |  27.55 |        1 |     no | northwest |  13937.6665 |
|  62 |   male |  30.02 |        0 |     no | northwest |  13352.0998 |
|  19 |   male | 27.835 |        0 |     no | northwest |  1635.73365 |
|  57 | female |  23.18 |        0 |     no | northwest |  11830.6072 |
|  47 |   male |  29.83 |        3 |     no | northwest |   9620.3307 |
|  42 | female | 24.985 |        2 |     no | northwest |  8017.06115 |
|  44 |   male | 32.015 |        2 |     no | northwest |  8116.26885 |
|  61 | female |  21.09 |        0 |     no | northwest |  13415.0381 |
|  23 | female |  28.31 |        0 |    yes | northwest |  18033.9679 |
|  64 | female | 30.115 |        3 |     no | northwest | 16455.70785 |
|  50 |   male | 25.365 |        2 |     no | northwest | 30284.64294 |
|  26 | female |  22.61 |        0 |     no | northwest |   3176.8159 |
|  24 | female |  30.21 |        3 |     no | northwest |   4618.0799 |
|  19 | female |  37.43 |        0 |     no | northwest |   2138.0707 |
|  46 |   male | 19.855 |        0 |     no | northwest |  7526.70645 |
|  64 | female | 32.965 |        0 |     no | northwest | 14692.66935 |
|  49 |   male |   32.3 |        3 |     no | northwest |    10269.46 |
+-----+--------+--------+----------+--------+-----------+-------------+